$color:red;
::placeholder {
  color: gray;
}

html,body{
  color: $color;
  background: green;
  flex-direction: column;
  box-sizing: border-box;
  display: -moz-box;
  height: calc(100%);
  padding: 0;
  margin: 0;
}
#root{
  width: calc(90% - 10px);
  background-image: url(../images/p3.png);
  height: calc(100%);
}
